html {
	height: 100%; 
}
body {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #777777;
	line-height: 1.75;
	font-size: 1.1em;
	min-height: 100%;
	display: table;
	width: 100%;
}
.container {
	width: 100%;
	display: table-row;
	min-height: 100%;
}
/*header and primary navigation*/
header {
	width: 100%;
}
.nameframe {
	margin-left: 150px;
	margin-right: 400px;
	padding: 20px 30px 20px 30px;
	background-color: #4aaaa5; 
	float: left;
}
nav {
	padding-top: 40px;
	padding-bottom: 40px;
	float: left;
}
a {
	color: #777777;
}
a:link {
	text-decoration: none;
}
a:hover {
	color: #4aaaa5;
	text-decoration: none;
}
a:active {
	color:#eeeeee;
}
/*middle background main and content*/
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { 
	display: inline-block; 
}
.background {
	border-top: 3px solid #cccccc;
	width: 100%;
	height: 100%;
	background-image: url("../images/backgroundimage.png");
	margin: 0;
}
section {
	border: 1px solid #dddddd;
	background-color: #fff;
	float: left;
	margin: 40px 40px 40px 150px;
	width: 650px;
}
article {
	margin: 40px 30px 40px 30px;
}
article > hr {
	width: 580px;
	height: 3px;
	background-color: #dddddd;
	border: none;
	margin: 30px 0 30px 0;
}
article > img {
	float: left;
	margin: 0 20px 10px 0;
}
aside {
	width: 270px;
	text-align: center;
	border: 1px solid #dddddd;
	background-color: #fff;
	float: left;
	margin-top: 40px;
	padding: 40px 30px 40px 30px;
}
aside > hr {
	height: 2px;
	background-color: #eee;
	border: none;
	margin: 20px 0 20px 0;
}
/*footer*/
footer {
	background-color: #666666;
	border-top: 8px solid #4aaaa5;
	width: 100%;
	height: 100%;
	float: left;
}
footer > div > p {
	padding: 40px 0 400px 0;
	color: #dddddd;
	font-size: .8em;
}
.copyright {
	text-align: center;
	width: 100%;
}
/*Headings*/
h1 {
	font-size: 2.5em;
	font-family: Georgia, Times, serif; 
	font-weight: bold;
	color: white;
}
h2 {
	font-size: 2em;
	font-family: Georgia, Times, serif; 
	font-weight: bold;
	color: #4aaaa5;
}
h3 {
	font-size: 1.5em;
	font-family: Georgia, Times, serif; 
	font-weight: bold;
	color: #4aaaa5;
}
h4 {
	font-size: 1.5em;
	font-family: Georgia, Times, serif; 
	color: #fff;
}
/*Portfolio Rows and Columns*/
.stripe {
	z-index: 1;
	background-color: #4aaaa5;
	min-width: 275px;
	float: left;
	position: relative;
	top: -65px;
	text-align: center;
}
.superimpose {
	position: relative;
	max-width: 275px;
}
.superimpose > img {
	z-index: 0;
} 
.row {
	position: relative;
	overflow: hidden;
	width: 100%;
}
.c1 {
	float: left;
	margin: 0 15px 15px 0;
}
.c2 {
	float: left;
	margin: 0 0 15px 15px;
}
/*Navigation*/
.nav {
	list-style-type: none; 
}
.nav li {
	display: inline;
	margin: 0 10px 0 10px;
}
.connecticons {
	list-style-type: none; 
}
.connecticons li {
	display: inline;
	margin: 0 2px 0 2px;
}
/*Contact Form*/
label, input, select {
	display:block;
}
input {
	margin-bottom: 1em;
	width: 95%;
	border-color: #dddddd;
	border-width: 1px;
	font-size: .8em;
	padding: 5px;
	border-collapse: collapse;
}
textarea {
	margin-bottom: 1em;
	width: 95%;
	border-color: #dddddd;
	border-width: 1px;
	font-size: .8em;
	padding: 5px;
	border-collapse: collapse;
}
legend {
	font-weight: bold;
}
button {
	color: #fff;
	background-color: #4aaaa5;
	padding: 10px 20px 10px 20px;
	font-size: 1em;
	border: none;
}